[tool.poetry]
name = "metabolights-utils"
version = "0.9.30"
description = "Metabolights common models, utility methods and classes for python-based Metabolights projects."
authors = ["MetaboLights Team <metabolights-dev@ebi.ac.uk>"]
readme = "README.md"
packages = [{include = "metabolights_utils"}]
license = "Apache-2.0"
homepage = "https://github.com/EBI-Metabolights/metabolights-utils"
repository = "https://github.com/EBI-Metabolights/metabolights-utils"
keywords = ["metabolights", "metabolomics", "ISA data model"]
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: File Formats",
    "Topic :: Scientific/Engineering :: Bio-Informatics"
]

[tool.poetry.dependencies]
python = ">=3.8.1,<3.12"
pydantic = "^2"
pydantic-settings = "^2.0.3"

[tool.poetry.group.test.dependencies]
pytest = "^7.4.0"
pytest-cov = "^4.1.0"

[tool.poetry.group.dev.dependencies]
flake8 = "^6.0.0"
flake8-bugbear = "^23.7.10"
black = "^23.3.0"
coverage = {extras = ["toml"], version = "^7.2.7"}
mypy = "^1.4.1"
mkdocs = "^1.4.3"
griffe = "^0.32.3"
mkdocstrings-python = "^1.2.1"
markdown-mdantic = "^1.3.3"
bump-pydantic = "^0.7.0"
pylint = "^3.0.2"



[tool.coverage.run]
omit = [".*", "*/tests/*", "*/site-packages/*", "*/docs/*", "*/site/*", "*/dist/*", ".*/*"]

[tool.coverage.report]
fail_under = 80

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
