[tool.poetry]
name = "metabolights-utils"
version = "0.9.54"
description = "MetaboLights command line interface (CLI), common data models, utility methods and classes."
authors = ["MetaboLights Team <metabolights-dev@ebi.ac.uk>"]
readme = "README.md"
packages = [{include = "metabolights_utils"}]
license = "Apache-2.0"
homepage = "https://github.com/EBI-Metabolights/metabolights-utils"
repository = "https://github.com/EBI-Metabolights/metabolights-utils"
keywords = ["metabolights", "metabolomics", "ISA data model", "mtbls"]
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: File Formats",
    "Topic :: Scientific/Engineering :: Bio-Informatics",
    "Topic :: Utilities"
]

[tool.poetry.dependencies]
python = ">=3.8.1"
pydantic = "^2"
pydantic-settings = "^2.0.3"
unidecode = "^1.3.8"
jsonschema = "^4.22.0"
click = "^8.1.7"
beautifulsoup4 = "^4.12.3"
jsonpath-ng = "^1.6.1"
httpx = "^0.27.0"
python-dateutil = "^2.9.0.post0"

[tool.poetry.group.test.dependencies]
pytest = "^7.4.0"
pytest-cov = "^4.1.0"
pytest-mock = "^3.14.0"

[tool.poetry.group.dev.dependencies]
flake8 = "^6.0.0"
flake8-bugbear = "^23.7.10"
black = "^23.3.0"
coverage = {extras = ["toml"], version = "^7.2.7"}
mypy = "^1.4.1"
mkdocs = "^1.4.3"
griffe = "^0.32.3"
mkdocstrings-python = "^1.2.1"
markdown-mdantic = "^1.3.3"
bump-pydantic = "^0.7.0"
pylint = "^3.0.2"

[tool.poetry.scripts]
mtbls = "metabolights_utils.commands.cli:cli"


[tool.coverage.run]
omit = [".*", "*/tests/*", "*/site-packages/*", "*/docs/*", "*/site/*", "*/dist/*", ".*/*"]

[tool.coverage.report]
fail_under = 80

[tool.coverage.html]
directory = "coverage_html_report"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
