[tool.poetry]
name = "metabolights-utils"
version = "1.1.11"
description = "MetaboLights open metabolomics data repository utility tools and API."
authors = ["MetaboLights Team <metabolights-dev@ebi.ac.uk>"]
readme = "README.md"
packages = [{include = "metabolights_utils"}]
license = "Apache-2.0"
homepage = "https://github.com/EBI-Metabolights/metabolights-utils"
repository = "https://github.com/EBI-Metabolights/metabolights-utils"
keywords = ["metabolights", "metabolomics", "ISA data model", "mtbls"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: Console",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: File Formats",
    "Topic :: Scientific/Engineering :: Bio-Informatics",
    "Topic :: Scientific/Engineering :: Chemistry",
    "Topic :: Utilities"
]

[tool.poetry.dependencies]
python = ">=3.8.1,<4"
pydantic = ">2"
pydantic-settings = ">=2.0.3"
unidecode = ">=1.3.8"
jsonschema = ">=4.22.0"
click = ">=8.1.7"
beautifulsoup4 = ">=4.12.3"
jsonpath-ng = ">=1.6.1"
httpx = ">=0.27.0"
# networkx = {version = "2.8.8", optional = true}

[tool.poetry.group.test.dependencies]
pytest = ">=7.4.0"
pytest-cov = ">=4.1.0"
pytest-mock = ">=3.14.0"

[tool.poetry.group.dev.dependencies]
flake8 = ">=6.0.0"
flake8-bugbear = ">=23.7.10"
black = ">23"
coverage = {extras = ["toml"], version = ">7.2"}
mypy = ">=1.4.1"
mkdocs = ">=1.4.3"
griffe = ">=0.32.3"
mkdocstrings-python = ">=1.2.1"
markdown-mdantic = ">=1.3.3"
pylint = ">=3.0.2"
autoflake = ">=2.3.1"
python-semantic-release = ">=9.8.3"
ipykernel = "^6.29.4"

[tool.poetry.scripts]
mtbls = "metabolights_utils.commands.cli:cli"

# [tool.poetry.extras]
# isajson = ["networkx"]

[tool.coverage.run]
omit = [".*", "*/tests/*", "*/site-packages/*", "*/docs/*", "*/site/*", "*/dist/*", ".*/*"]

[tool.coverage.report]
fail_under = 80

[tool.coverage.html]
directory = "coverage_html_report"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"


[tool.semantic_release]
version_toml = ["pyproject.toml:tool.poetry.version"]
version_variables = ["metabolights_utils/__init__.py:__VERSION__"]
assets = []
build_command = "poetry build"
build_command_env = []
commit_message = "{version}\n\nAutomatically generated by python-semantic-release"
commit_parser = "angular"
logging_use_named_masks = false
major_on_zero = true
allow_zero_version = true
no_git_verify = false
tag_format = "v{version}"

[tool.semantic_release.branches.main]
match = "(main|master)"
prerelease_token = "rc"
prerelease = false

[tool.semantic_release.changelog]
template_dir = "templates"
changelog_file = "CHANGELOG.md"
exclude_commit_patterns = []

[tool.semantic_release.changelog.environment]
block_start_string = "{%"
block_end_string = "%}"
variable_start_string = "{{"
variable_end_string = "}}"
comment_start_string = "{#"
comment_end_string = "#}"
trim_blocks = false
lstrip_blocks = false
newline_sequence = "\n"
keep_trailing_newline = false
extensions = []
autoescape = true

[tool.semantic_release.commit_author]
env = "GIT_COMMIT_AUTHOR"
default = "semantic-release <semantic-release>"

[tool.semantic_release.commit_parser_options]
allowed_tags = ["build", "chore", "ci", "docs", "feat", "fix", "perf", "style", "refactor", "test", "CLI", "API"]
minor_tags = ["feat", "API", "CLI"]
patch_tags = ["fix", "perf", "refactor"]
default_bump_level = 0

[tool.semantic_release.remote]
name = "origin"
type = "github"
ignore_token_for_push = false
insecure = false

[tool.semantic_release.remote.token]
env = "GH_TOKEN"

[tool.semantic_release.publish]
dist_glob_patterns = ["dist/*"]
upload_to_vcs_release = true

